body {
    background-color: #ccc;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div {
    background-color: whitesmoke;
    border-radius: 2px;
}

.container {
    max-width: 400px;
    margin: auto;
    display: grid;
    gap: 0;
    overflow: hidden;
}

/* .cell {
    background-color: red;
} */